@font-face {
    font-family: 'post_no_bills_colomboXBd';
    src: url('postnobillscolombo-extrabold-webfont.woff2') format('woff2'),
        url('postnobillscolombo-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #B9E7B8;
    position:absolute;
}
h2 {
    font-size: 100%;  
    color: black;
}
p {
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: blue;
    }
.content-title {
   position: relative;
   font-size: 140%;
   font-weight: 800;
   font-family:'post_no_bills_colomboXBd';
}
.content {
    border: black solid 1px;
    margin-right: 2%;
    width:33%;
}
.course {
    color: blue;
}
#navBar {
    background-color: #edffed;
    height: 67px;
    display: flex;
    /* flex-direction: row; */
    border-bottom: black solid 2px;
    justify-content: space-between;
    margin: -8px;
    position: fixed;
    width: 100%;
}
.icons {
    width:100%;
}
#roots {
    font-family:'post_no_bills_colomboXBd';
    font-size: 50px;
    float:left;
    margin-left:5%;
    margin-right:4%;
    margin-right: 15%;
    border: blue solid 1px;
}
.icons-leftside {
    float: left;
    width:49%;
    border: red solid 1px;
    position: fixed;
}
.searchBar {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color:#bab9b9;
    background-color: white;
    border: #bab9b9 solid 1px;
    float: left;
    margin-top: 15px;
    padding:4px;
    height:25px;
    width:170px;
    margin-right: 20px;
    margin-left: 15px;
}
.icons-rightside {
    float: right;
    width:49%;
    height:100%;
    border: red solid 1px;
}
.image {
    width: 33px;
    height: 33px;
    margin-right: 5px;
    margin-top:17px;
    border: blue solid 1px;
    float: right;
}
.flex-magnet-nigga {
    display: flex;
    flex-direction: row;
    position: relative;
    top:75px;
}
.task-date {
    text-decoration: underline;
    font-weight: bold;
}
#danger {
    height:25px;
    width: 120px;
    background-color: black;
    color: white;
    border-radius: 100px;
    position:relative;
    float: center;
}
